#
# Copyright 2019 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ------------------------------------------------------------------------------

#
# Sawtooth -- IAS Proxy Configuration
#

# This file (minus the .example extension) should exist in the defined config
# directory and allows the IAS proxy to be configured without the need for
# command line options.

# The following is a possible example.

# proxy_name and proxy_port are used to set the hostname/address and port,
# respectively, that the proxy will bind to for listening for incoming
# connections from IAS clients.

proxy_name = localhost
proxy_port = 8899

# ias_url is the URL of the Intel Attestation Service (IAS) server.  
# The URL for enclaves under development is: 
# 	https://api.trustedservices.intel.com/sgx/dev
# The URL for production enclaves is:
# 	https://api.trustedservices.intel.com/sgx

ias_url = 'https://api.trustedservices.intel.com/sgx/dev'

# ias_subscription_key is associated with the SPID. The Key abd SPID can 
# be obtained by signing up and subscribing to the Attestation Service via
# the SGX Services portal at: https://api.portal.trustedservices.intel.com

ias_subscription_key = 'ffffffff'

